@tailwind base;
@tailwind components;
@tailwind utilities;


@import url(./theme/tokens.css);
@import url(./theme/colors.module.css);
@import url(./theme/typography.module.css);
@import url(./theme/theme.light.css) (prefers-color-scheme: light);
@import url(./theme/theme.dark.css) (prefers-color-scheme: dark);


.h-363 {
  height: 363px;
}
.p-5625 {
  padding-bottom: 56.25%;
}

iframe {
  position: absolute;
}

#left-column {
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For IE and Edge */
  scrollbar-color: transparent transparent;
  /* For Firefox */
}

#right-column {
  width: 32rem;
}
#left-column::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}
#volume {
  position: absolute;
  left: 24px;
  margin: 0 auto;
  height: 5px;
  width: 300px;
  background: #fff;
  border-radius: 15px;


}

.ui-slider-range-min {
  height: 5px;
  width: 300px;
  position: absolute;
  background: red;
  border: none;
  border-radius: 10px;
  outline: none;
}

.ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #FFF;
  position: absolute;
  margin-left: -8px;
  margin-top: -8px;
  cursor: pointer;
  outline: none;
}